body {
	margin: 0;
}
.sub-intro {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: white;
	background-color: indigo;
	margin-bottom: 15px;
	padding: 7px;
	width: 100%;
	min-width: 300px;
}
iframe {
	min-width: 300px;
}
